.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4.5% 7% 3%;
  gap: 0.5rem;
  align-items: center;
  padding: 1.5rem 12rem;
  background: white;
  .avatar {
    cursor: pointer;
    width: 50px;
    border-radius: $main-border-radius;
    -webkit-border-radius: $main-border-radius;
  }
}
