.menu {
  margin-top: 2em;
  width: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  &__item {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0.9rem 2rem;
    gap: 2em;
    border-left: 3px solid transparent;

    & svg {
      min-width: 30px;
    }
    &.active {
      border-left: 3px solid $accent-color;
      color: $accent-color;

      & svg path {
        fill: $accent-color;
      }
      &.home {
        & svg path {
          stroke: $accent-color;
          fill: none;
        }
      }
    }
    .msgCounter {
      font-size: 15px;
      margin-left: 3em;
      height: 30px;
      width: 30px;
    }
  }
}
