.post {
  display: grid;
  position: relative;
  padding: 1em 2em;
  margin-bottom: 1rem;
  gap: 1rem;
  &__info {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    gap: 0.5rem;
  }
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: $main-border-radius;
    -webkit-border-radius: $main-border-radius;
  }
  &__name {
    font-size: clamp(0.875rem, 0.8333rem + 0.2222vw, 1rem);
    font-weight: 600;
  }
  &__date {
    font-size: clamp(0.75rem, 0.7083rem + 0.2222vw, 0.875rem);
    font-weight: 600;
  }
  &__body p {
    font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
  }
  &__below {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
    p {
      font-size: 16px;
      font-weight: 600;
      margin-right: 1em;
    }
    .reaction {
      display: grid;
      align-self: flex-end;
      transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out;
    }
    .reaction path {
      cursor: pointer;
      transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out;
    }
    .heart:hover path {
      fill: rgba(225, 70, 70, 0.55);
    }
    .heart:active path {
      fill: rgb(200, 67, 67);
    }
    .com:hover path {
      fill: rgba(70, 83, 225, 0.55);
    }
    .com:active path {
      fill: rgb(50, 87, 208);
    }
    .repost:hover path {
      stroke: rgba(70, 83, 225, 0.55);
    }
    .repost:active path {
      stroke: rgb(50, 87, 208);
    }
    .reaction:active {
      animation-name: reaction;
      animation-duration: 0.5s;
    }
  }
}

@keyframes reaction {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(-0.1rem);
    -webkit-transform: translateY(-0.1rem);
    -moz-transform: translateY(-0.1rem);
    -ms-transform: translateY(-0.1rem);
    -o-transform: translateY(-0.1rem);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
