.stngs {
  .modal {
    top: 30%;
    left: 40%;
    &-header {
      display: flex;
      justify-content: space-between;
    }
    &-input {
      border: 1px solid #cccccc2c;
      border-radius: 5px;
      text-align: start;
      margin-bottom: 0.5rem;
    }
  }
  .card {
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
  }
  h1 {
    margin-left: 0.7em;
    font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
    font-weight: 600;
  }
  p {
    font-size: 14px;
    font-weight: 600;
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    padding: 1rem clamp(2rem, 0.9091rem + 5.4545vw, 5rem);
  }
  &__change {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    gap: 0.2rem;
    img {
      width: 20px;
      height: 20px;
    }
  }
  input {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-align: end;
    width: clamp(10rem, 3.3333rem + 33.3333vw, 20rem);
  }
  .input-dis {
    color: black;
  }
}

@media (max-width: 500px) {
  .stngs {
    &__item {
      grid-template-columns: 1fr;
    }
    input {
      width: auto;
    }
  }
}
