.friendsMini {
  padding: 1rem clamp(1.5rem, 0.9545rem + 2.7273vw, 3rem);
  &__title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(1rem, -0.4545rem + 7.2727vw, 2.5rem);
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
    img {
      width: clamp(5rem, 4.3864rem + 3.0682vw, 6.6875rem);
      height: clamp(5rem, 4.3864rem + 3.0682vw, 6.6875rem);
      border-radius: $main-border-radius;
      -webkit-border-radius: $main-border-radius;
    }
    h2 {
      font-size: 13px;
      font-weight: 600;
      overflow: hidden;
      max-width: 15ch;
      white-space: nowrap;
    }
  }
  &__button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.3em;
    border: none;
    font-size: 13px;
    font-weight: 600;
    border-radius: $main-border-radius;
    -webkit-border-radius: $main-border-radius;
    transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
  }
}
