.profile {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
  background: linear-gradient(
    to top,
    transparent 0%,
    transparent 8rem,
    #859bd488 8rem,
    #859bd488 100%
  );
  svg {
    align-self: flex-end;
  }
  button {
    align-self: flex-end;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
  }
  .addFriendBtn:hover {
    svg path {
      fill: none;
      stroke: $accent-color;
    }
  }
  &__photo {
    border-radius: $main-border-radius;
    -webkit-border-radius: $main-border-radius;
    width: clamp(5.9375rem, 5.0057rem + 4.6591vw, 8.5rem);
    height: clamp(5.9375rem, 5.0057rem + 4.6591vw, 8.5rem);
    margin-bottom: 2em;
  }
  &__name {
    font-size: clamp(1.125rem, 1.0795rem + 0.2273vw, 1.25rem);
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  &__descr {
    padding: 0 clamp(0rem, -0.0909rem + 5.4545vw, 4rem);
    font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
    font-weight: 600;
    color: #7b8590;
    text-align: center;
    margin-bottom: 1.5em;
  }
}
