.emoji {
  &__btn {
    cursor: pointer;
    height: 100%;
    border: none;
    background-color: transparent;
    &__svg {
      width: 33px;
      fill: $accent-color;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__wrapper {
    position: absolute;
    right: 30%;
    bottom: 12%;
    display: none;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;

    &.open {
      display: block;
      z-index: 5;
    }
  }
}

.replie-input {
  bottom: 80%;
  position: fixed;
  max-height: 15rem;
  overflow: hidden;
}

em-emoji-picker {
  position: relative;
  background-color: black;
  z-index: 999;
}
