$accent-color: #1d6fdb;
$light-secondary-color: #c2bebe;
$dark-secondary-color: #999999;

$main-border-radius: 9px;
$main-shadow: 1px 2px 10px 3px rgba(111, 112, 114, 0.05);
$box-shadow: 0px 8px 15px rgb(75 72 72 / 10%);

//Light Mod
$lt-secondary-color: #6b6e71;
$lt-body-bg-color: #f9fafb;
$lt-body-text-color: black;
$lt-header-bg-color: white;
$lt-card-bg-color: white;
$lt-line-color: #f8f9fb;
$lt-header-brdr-color: #e2e5ed;
$lt-hover-bg-color: #fbfbfc;
$lt-btn-bg-color: #d5dfe9;
$lt-rpls-btn-bg-color: #dae4fb70;
$lt-auth-img-text-color: #ebf3f5;
$lt-auth-body-bg-color: #ebf3f5;
$lt-auth-field-bg-color: #f3f4f9;
$lt-email-confirm-bg-color: -webkit-linear-gradient(
  bottom,
  #267cb68a,
  #307ce0ad
);

//Dark Mod
$drk-secondary-color: #a2a9a9;
$drk-body-bg-color: #1b1d1e;
$drk-body-text-color: rgb(212, 212, 212);
$drk-header-bg-color: #232628;
$drk-card-bg-color: #232628;
$drk-line-color: #373b3d72;
$drk-hover-bg-color: #1f20208f;
$drk-btn-bg-color: #2b2e30;
