$accent-color: #2176e5;
$secondary-color: #9ba9ba;
$light-secondary-color: #d9d9d9;
$dark-secondary-color: #939393;
$light-bg-clr: #f9fafc;
$grey-line-clr: #f8f9fb;
$main-border-radius: 15px;
$main-shadow: 1px 2px 10px 3px rgba(111, 112, 114, 0.05);

$gradient-color: -webkit-linear-gradient(left, $accent-color, #afb5db);

$box-shadow: 0px 8px 15px rgb(75 72 72 / 10%);
$black-drop-shadow: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.543));

$light-opacity: 0.3;
$medium-opacity: 0.6;
