.friendPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.friendCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  padding: 0.5rem 1.5rem;
  max-height: 280px;
  position: relative;
  &__dots {
    margin-left: auto;
  }
  &__image {
    width: 107px;
    height: 107px;
    border-radius: $main-border-radius;
    -webkit-border-radius: $main-border-radius;
    -moz-border-radius: $main-border-radius;
    -ms-border-radius: $main-border-radius;
    -o-border-radius: $main-border-radius;
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__name {
    font-size: 14px;
    font-weight: bold;
  }
  &__btns {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding-bottom: 1rem;
    .prfl {
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      padding: 0.8rem 0.6rem;
      &:after {
        content: 'Profile';
      }
    }
    .msg {
      cursor: pointer;
      color: $accent-color;
      font-size: 14px;
      font-weight: bold;
      padding: 0.8rem 0.6rem;
      &:after {
        content: 'Message';
      }
      svg path {
        fill: $accent-color;
      }
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 500px) {
  .friendPage {
    gap: 1rem;
  }
  .friendCard {
    padding: 0.3rem 2rem;
    justify-content: space-between;
    gap: 0.5rem;
    &__image {
      width: 80px;
      height: 80px;
    }
    &__btns {
      gap: 0.5rem;
      .prfl {
        padding: 0.5rem;
        &:after {
          content: none;
        }
      }
      .msg {
        padding: 0.5rem;
        &:after {
          content: none;
        }
      }
    }
  }
}
