.chat {
  margin: 1em 0;
  padding: clamp(0.5rem, 0.1364rem + 1.8182vw, 1.5rem);
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 1em;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  &:hover {
    z-index: 5;
    transform: translateX(0.5rem);
    -webkit-transform: translateX(0.5rem);
    -moz-transform: translateX(0.5rem);
    -ms-transform: translateX(0.5rem);
    -o-transform: translateX(0.5rem);
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
  }
  &__img {
    width: clamp(3.5rem, 3.0455rem + 2.2727vw, 4.75rem);
    height: clamp(3.5rem, 3.0455rem + 2.2727vw, 4.75rem);
    align-self: center;
    object-position: center;
    border-radius: $main-border-radius;
    -webkit-border-radius: $main-border-radius;
    -moz-border-radius: $main-border-radius;
  }
  &__info {
    padding: 0.5rem 0;
    &__firstLine {
      display: flex;
      align-items: center;
      gap: 0.3em;
    }
  }
  &__name {
    font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
    font-weight: bold;
  }
  &__message {
    font-size: clamp(0.8125rem, 0.767rem + 0.2273vw, 0.9375rem);
  }
  &__date {
    font-size: clamp(0.625rem, 0.5795rem + 0.2273vw, 0.75rem);
    white-space: nowrap;
  }
  .msgCounter {
    font-size: 15px;
    height: 30px;
    width: 30px;
    margin: 0.4em auto;
  }
}

.chatroom {
  display: grid;
  grid-template-rows: auto 1fr auto;
  &__header {
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content;
    gap: 0.5rem;
    align-items: center;
    padding: 0.3rem 2rem;
    position: relative;
    &__img {
      width: clamp(2.8125rem, 2.5852rem + 1.1364vw, 3.4375rem);
      height: clamp(2.8125rem, 2.5852rem + 1.1364vw, 3.4375rem);
      border-radius: $main-border-radius;
      -webkit-border-radius: $main-border-radius;
    }
    &__info {
      .name {
        font-size: clamp(0.9375rem, 0.9148rem + 0.1136vw, 1rem);
        font-weight: bold;
      }
      .status {
        display: flex;
        align-items: center;
        gap: 0.2em;
        &__text {
          font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
        }
      }
    }
  }

  &__field {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    gap: 1em;
    border: none;
    height: 5rem;
    padding: 0.5em 2em;
    &__input {
      background-color: transparent;
      font-size: clamp(0.9375rem, 0.8693rem + 0.3409vw, 1.125rem);
      border: none;
      width: 85%;
      height: 100%;
      &::placeholder {
        font-size: clamp(0.9375rem, 0.8693rem + 0.3409vw, 1.125rem);
        font-weight: 600;
      }
    }
    .send-btn {
      padding: 0.7rem 0.9rem;
    }
  }
}

.modal-overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  &.active {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal {
  z-index: -1;
  opacity: 0;
  position: absolute;
  left: 45%;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  &.active {
    opacity: 1;
    z-index: 1;
  }
  &-header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-around;
    h2 {
      font-size: 1rem;
    }
    span {
      font-size: 1.4rem;
      cursor: pointer;
    }
  }

  &-body {
    .modal-friend {
      display: flex;
      align-items: center;
      justify-content: space-around;

      h3 {
        font-size: 14px;
        font-weight: 600;
      }
      button {
        font-size: 12px;
        padding: 0.2rem 0.5rem;
        margin: 0.5rem;
      }
    }
  }
}
