.chat {
  &__msgs__cont {
    height: calc(100dvh - 21rem);
    display: grid;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;
  }
}

.msg {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  &__stranger {
    justify-content: flex-start;
    &__img {
      width: 55px;
      height: 55px;
      border-radius: $main-border-radius;
      -webkit-border-radius: $main-border-radius;
      -moz-border-radius: $main-border-radius;
      -ms-border-radius: $main-border-radius;
      -o-border-radius: $main-border-radius;
    }
  }

  &__user {
    justify-content: flex-end;
  }

  &__text {
    padding: 1rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    font-size: clamp(0.90625rem, 0.8722rem + 0.1705vw, 1rem);
  }
  &__date {
    font-size: 14px;
  }
}
