.card {
  &.input {
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    box-shadow: none;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    padding: 1em 2em;
    &.sendPost {
      border-radius: $main-border-radius;
      -webkit-border-radius: $main-border-radius;
      box-shadow: $main-shadow;
    }
  }
}

.input {
  display: grid;
  grid-template-columns: 8% 1fr min-content;
  transition: padding-bottom 0.5s ease-in-out;
  -webkit-transition: padding-bottom 0.5s ease-in-out;

  &.sendPost {
    margin-bottom: 1.5rem;
    padding: 1em;
  }
  &__info {
    display: flex;
    gap: 0.8em;
  }
  &__avatar {
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin-top: 0.2rem;
    border-radius: $main-border-radius;
    -webkit-border-radius: $main-border-radius;
    -moz-border-radius: $main-border-radius;
    &.sendPost {
      width: 50px;
      height: 50px;
    }
  }
  &__name {
    z-index: -1;
    padding-top: 0.5em;
    font-size: 16px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
  &__input {
    overflow: hidden;
    padding-top: 1em;
    border: none;
    width: 100%;
    font-size: clamp(1rem, 0.9545rem + 0.2273vw, 1.125rem);
    background: transparent;
    resize: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    &::placeholder {
      font-size: clamp(0.84375rem, 0.7869rem + 0.2841vw, 1rem);
      font-weight: 600;
      color: #a3aebd;
    }
  }
  &__btns {
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    gap: 0.2rem;
    button {
      white-space: nowrap;
    }
    svg {
      opacity: 0;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
    }
  }
  .postIt {
    height: 3.2rem;
    margin-left: auto;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
  &.active {
    padding-bottom: 6.5rem;
    transition: padding-bottom 0.5s ease-in-out;
    -webkit-transition: padding-bottom 0.5s ease-in-out;
    .input {
      &__name {
        opacity: 1;
        z-index: 0;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
      }
      &__input {
        padding-top: 0;
        width: 95%;
        transform: translateY(3rem);
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -webkit-transform: translateY(3rem);
        -moz-transform: translateY(3rem);
        -ms-transform: translateY(3rem);
        -o-transform: translateY(3rem);
      }
      &__btns {
        margin-top: auto;
        transform: translateY(5.5rem);
        -webkit-transform: translateY(5.5rem);
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        svg {
          opacity: 1;
          transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .input {
    grid-template-columns: 0 1fr min-content;
    &__avatar {
      display: none;
      height: 0;
    }
    &__name {
      display: none;
      height: 0;
    }
    &__input {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
    &.active {
      .input {
        &__input {
          transform: translateY(1.5rem);
          -webkit-transform: translateY(1.5rem);
          -moz-transform: translateY(1.5rem);
          -ms-transform: translateY(1.5rem);
          -o-transform: translateY(1.5rem);
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .input {
    grid-template-columns: 0 1fr;
    grid-template-rows: auto 0;
    &__btns {
      grid-column: span 2;
      justify-self: self-end;
      transform: translateY(-1.8rem);
      -webkit-transform: translateY(-1.8rem);
      -moz-transform: translateY(-1.8rem);
      -ms-transform: translateY(-1.8rem);
      -o-transform: translateY(-1.8rem);
    }
    &.active {
      .input {
        &__btns {
          transform: translateY(1.7rem);
          -webkit-transform: translateY(1.7rem);
          -moz-transform: translateY(1.7rem);
          -ms-transform: translateY(1.7rem);
          -o-transform: translateY(1.7rem);
        }
      }
    }
  }
}
