.friendsTitle {
  margin-left: 0.5em;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.friends {
  display: flex;
  flex-direction: column;
  padding-top: 0.8em;
  padding-bottom: 0.8rem;
  .friend {
    position: relative;
    padding: 0.7em 1em;
    display: flex;
    align-items: center;
    flex-basis: 90%;
    justify-content: space-between;
    &__figure {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    &__avatar {
      height: 50px;
      width: 50px;
      object-fit: cover;
      border-radius: $main-border-radius;
      -webkit-border-radius: $main-border-radius;
    }
    &__name {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

@media (max-width: 1400px) {
  .friends,
  .friendsTitle {
    display: none;
  }
}
