@import 'fonts';
@import 'variables';
@import 'normalize';
@import 'theme';
@import 'components/all';

body {
  accent-color: $accent-color;
}

.wrapper {
  display: grid;
  grid-template-columns: 18% 1fr 20%;
  padding: 2rem 10rem;
  padding-left: 8rem;
  gap: 4.5rem;
}

@media (max-width: 1600px) {
  .wrapper {
    padding: 2rem;
  }
}

@media (max-width: 1400px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
@media (max-width: 960px) {
  .wrapper {
    padding: 0;
  }
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-size: clamp(0.75rem, 0.6818rem + 0.3409vw, 0.9375rem);
  color: white;
  background-color: $accent-color;
  padding: 0.8em 1.2em;
  border-radius: $main-border-radius;
  -webkit-border-radius: $main-border-radius;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  svg path {
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
  }
  &:hover {
    color: $accent-color;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    svg path {
      fill: $accent-color;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
    }
  }
}

@media (max-width: 500px) {
  .btn {
    padding: 0.8em;
    max-height: 2.8rem;
  }
}

.btn__outline {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-size: 15px;
  color: $accent-color;
  border: 1px solid $accent-color;
  padding: 0.8em 1.2em;
  border-radius: $main-border-radius;
  -webkit-border-radius: $main-border-radius;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  &:hover {
    background-color: $accent-color;
    color: white;
    border: 1px solid white;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    svg path {
      fill: white;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
    }
  }
}

.card {
  border-radius: $main-border-radius;
  -webkit-border-radius: $main-border-radius;
  box-shadow: $main-shadow;
}
.msgCounter {
  font-weight: bold;
  padding: 0.5em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: $accent-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statusCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: rgb(149, 150, 149);
  &.online {
    background-color: rgb(27, 192, 27);
  }
}

.dots {
  fill: #9ba9ba;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  &__prfl {
    fill: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    &:hover {
      fill: black;
    }
  }
  &:hover {
    fill: $accent-color;
  }
}

.flex {
  display: flex;
  gap: 0.3rem;
}
