@import 'fonts';
@import 'variables';
@import 'normalize';
@import 'theme';
@import 'components/all';

body {
  accent-color: $accent-color;
  overflow-y: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 18% 1fr 20%;
  padding: 2rem 10rem;
  padding-left: 8rem;
  gap: 4.5rem;
}

@media (max-width: 1600px) {
  .wrapper {
    padding: 2rem;
  }
}

@media (max-width: 1400px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
@media (max-width: 960px) {
  .wrapper {
    padding: 0;
  }
}

.card {
  border-radius: $main-border-radius;
  -webkit-border-radius: $main-border-radius;
  box-shadow: $main-shadow;
}
.msgCounter {
  font-weight: bold;
  padding: 0.5em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: $accent-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statusCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: rgb(149, 150, 149);
  &.online {
    background-color: rgb(27, 192, 27);
  }
}

.dots {
  fill: #9ba9ba;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  &__prfl {
    fill: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    &:hover {
      fill: black;
    }
  }
  &:hover {
    fill: $accent-color;
  }
}

.flex {
  display: flex;
  gap: 0.3rem;
}

.none {
  display: none;
}

.avatar {
  object-fit: cover;
}

Skeleton {
  border-radius: $main-border-radius;
  -webkit-border-radius: $main-border-radius;
  -moz-border-radius: $main-border-radius;
  -ms-border-radius: $main-border-radius;
  -o-border-radius: $main-border-radius;
}
