.commentsList {
  padding: 0.7em;
}

.comment {
  padding: 1em;
  &__avatar {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: $main-border-radius;
    -webkit-border-radius: $main-border-radius;
  }
  &__info {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    gap: 0.5rem;
    &__name {
      font-size: 16px;
      font-weight: 600;
    }
    &__date {
      font-size: 14px;
      font-weight: 600;
    }
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
    li {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      cursor: pointer;
      svg {
        width: 22px;
        height: 22px;
      }
      .comment__svg {
        &__edit:hover g {
          fill: $accent-color;
        }
        &__delete:hover path {
          stroke: $accent-color;
        }
      }
    }
  }

  &__content {
    grid-column: span 2;
  }
}
