.profile {
  padding: 0.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
  background: linear-gradient(
    to top,
    transparent 0%,
    transparent 16.5rem,
    #859bd488 16.5rem,
    #859bd488 100%
  );
  svg {
    align-self: flex-end;
  }
  button {
    align-self: flex-end;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
  }
  .addFriendBtn:hover {
    svg path {
      fill: none;
      stroke: $accent-color;
    }
  }
  &__photo {
    border-radius: $main-border-radius;
    -webkit-border-radius: $main-border-radius;
    width: 136px;
    height: 136px;
    margin-bottom: 2em;
  }
  &__name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  &__descr {
    padding: 0 4rem;
    font-size: 16px;
    font-weight: 600;
    color: #7b8590;
    text-align: center;
    margin-bottom: 1.5em;
  }
}
