.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 0.5rem;
  align-items: center;
  padding: 1.5rem 10rem;
  background: white;
  .flex {
    align-items: center;
    gap: 0.5rem;
  }
  .avatar {
    cursor: pointer;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: $main-border-radius;
    -webkit-border-radius: $main-border-radius;
  }
}

@media (max-width: 1400px) {
  .header {
    display: none;
  }
}
