.light,
.dark {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
}
.light {
  background-color: $lt-body-bg-color;
  color: $lt-body-text-color;
  a,
  h1,
  h2,
  h3,
  h4,
  span {
    color: $lt-body-text-color;
  }
  a:focus {
    color: $lt-body-text-color;
  }
  iframe {
    background-color: $lt-body-bg-color;
  }
  .rhap_container {
    background-color: $lt-body-bg-color;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.131);
  }
  .rhap_volume-indicator,
  .rhap_progress-indicator {
    background-color: $light-secondary-color;
  }
  .card {
    background-color: $lt-card-bg-color;
  }
  .header {
    background-color: $lt-header-bg-color;
    border-bottom: 1px solid $lt-header-brdr-color;
  }
  .btn {
    border: 1px solid white;

    &:hover {
      background-color: white;
    }
  }
  .btn__outline {
    background-color: white;
  }

  .friendsTitle {
    color: $lt-secondary-color;
  }
  .friendCard__btns .btn-msg {
    background-color: white;
    border: 1px solid $accent-color;
    &:hover {
      background-color: #eeee;
    }
  }
  .friends .friend {
    border-bottom: 1px solid $lt-line-color;
    &:hover {
      background-color: $lt-hover-bg-color;
    }
  }
  .menu__item {
    border-bottom: 1px solid $lt-line-color;
    &.active {
      background-color: $lt-hover-bg-color;
    }
    &:hover {
      background-color: $lt-hover-bg-color;
    }
  }
  .comment {
    border-top: 1px solid $lt-line-color;
  }
  .comment__replies__button {
    background-color: $lt-rpls-btn-bg-color;
  }
  .chatroom__field__input {
    color: black;
  }
  .input__input {
    color: black;
  }
  .friendsMini__button {
    background-color: $lt-btn-bg-color;
    svg path {
      stroke: $lt-body-text-color;
    }
  }
  .friendsMini__title {
    color: $lt-secondary-color;
  }
  .backIcon__bg {
    fill: #9ba9ba;
  }

  .auth {
    background-color: $lt-auth-body-bg-color;
    .field {
      background-color: $lt-auth-field-bg-color;
    }
  }
  .img-text h2,
  .img-text p,
  .img-btn span {
    color: $lt-auth-img-text-color;
  }
  .label span {
    color: $lt-secondary-color;
  }

  .stngs__item {
    border-bottom: 1px solid $lt-line-color;
  }

  #switch {
    background-color: $dark-secondary-color;
    border: 1.5px solid $dark-secondary-color;
  }
  #switch:checked {
    background-color: $accent-color;
    border: 1px solid $accent-color;
  }
  #switch::after {
    background-color: rgb(210, 210, 210);
  }
  #switch:checked::after {
    background-color: white;
    border: 1px solid $accent-color;
  }
  .msg {
    &__text {
      background-color: #e0e6f8;
    }
    &__user p {
      background-color: white;
    }
  }
  .emailConfirm__bg {
    background: $lt-email-confirm-bg-color;
  }

  .newMsgAlert {
    background-color: rgba(32, 40, 57, 0.166);
    &__name,
    &__text {
      color: $lt-body-text-color;
    }
  }

  .emailConfirm__return__img path {
    stroke: $lt-secondary-color;
  }
  input::placeholder {
    color: $lt-secondary-color;
  }

  .chat__date {
    color: $lt-secondary-color;
  }
  .status__text {
    color: $lt-secondary-color;
  }
  .msg__date {
    color: $lt-secondary-color;
  }
  .post__date {
    color: $lt-secondary-color;
  }
  .post__below p {
    color: $lt-secondary-color;
  }
  .comment__replies__create p {
    color: $lt-secondary-color;
  }
  .comment__info__date {
    color: $lt-secondary-color;
  }
  .comment__info__reactions p {
    color: $lt-secondary-color;
  }
  .stngs h1,
  .stngs p,
  .stngs input {
    color: $lt-secondary-color;
  }
  .chat__message {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: $lt-secondary-color;
  }
}

.dark {
  background-color: $drk-body-bg-color;
  color: $drk-body-text-color;
  a,
  h1,
  h2,
  h3,
  h4,
  p,
  span,
  input {
    color: $drk-body-text-color;
  }
  a:focus {
    color: $drk-body-text-color;
  }
  iframe {
    background-color: $drk-body-bg-color;
  }

  .rhap_container {
    background-color: $drk-body-bg-color;
  }
  .rhap_time,
  .rhap_additional-controls button,
  .rhap_main-controls button,
  .rhap_volume-controls button {
    color: $drk-secondary-color;
  }
  .rhap_volume-indicator,
  .rhap_progress-indicator {
    background-color: $drk-secondary-color;
  }
  .card {
    background-color: $drk-card-bg-color;
  }
  .header {
    background-color: $drk-header-bg-color;
    border-bottom: 1px solid $drk-line-color;
  }
  .btn {
    border: 1px solid black;
    &:hover {
      background-color: $drk-body-bg-color;
    }
  }
  .btn__outline {
    background-color: $drk-btn-bg-color;
  }
  .friendCard__btns .btn-msg {
    background-color: $drk-body-bg-color;
    &:hover {
      background-color: $drk-hover-bg-color;
    }
  }
  .friends .friend {
    border-bottom: 1px solid $drk-line-color;
    &:hover {
      background-color: $drk-hover-bg-color;
    }
  }
  .menu__item {
    border-bottom: 1px solid $drk-line-color;
    &.active {
      background-color: $drk-hover-bg-color;
    }
    &:hover {
      background-color: $drk-hover-bg-color;
    }
  }
  .comment {
    border-top: 1px solid $drk-line-color;
  }
  .comment__replies__button {
    background-color: $drk-hover-bg-color;
  }
  .comment__replies__create p {
    color: $drk-secondary-color;
  }
  .comment__info__date {
    color: $drk-secondary-color;
  }
  .chatroom__field__input {
    color: white;
  }
  .input__input {
    color: $drk-secondary-color;
  }
  .friendsMini__button {
    background-color: $drk-btn-bg-color;
    color: $drk-body-text-color;
    svg path {
      stroke: $drk-body-text-color;
    }
  }
  .backIcon__bg {
    fill: $drk-body-bg-color;
  }
  .auth {
    .sub-cont {
      background-color: $drk-card-bg-color;
    }
    .sign-up {
      background-color: $drk-card-bg-color;
    }
    input {
      color: $drk-body-text-color;
    }
  }

  .stngs__item {
    border-bottom: 1px solid $drk-line-color;
  }

  #switch {
    background-color: $drk-body-bg-color;
    border: 1.5px solid $drk-hover-bg-color;
  }
  #switch:checked {
    background-color: $drk-body-bg-color;
  }

  #switch::after {
    background-color: $drk-secondary-color;
  }
  #switch:checked::after {
    background-color: $accent-color;
  }

  .msg {
    &__text {
      background-color: #313647;
    }
    &__user p {
      background-color: rgb(52, 52, 54);
    }
  }
  .emailConfirm__bg {
    background-color: $drk-body-bg-color;
  }

  .newMsgAlert {
    background-color: rgba(162, 155, 155, 0.096);
    &__name,
    &__text {
      color: $drk-body-text-color;
    }
  }
  .emailConfirm__return__img path {
    stroke: $drk-secondary-color;
  }
  input::placeholder {
    color: $drk-secondary-color;
  }

  .chat__date {
    color: $drk-secondary-color;
  }
  .status__text {
    color: $drk-secondary-color;
  }
  .msg__date {
    color: $drk-secondary-color;
  }
  .post__date {
    color: $drk-secondary-color;
  }
  .post__below p {
    color: $drk-secondary-color;
  }
  .comment__info__date {
    color: $drk-secondary-color;
  }
  .comment__info__reactions p {
    color: $drk-secondary-color;
  }
  .stngs h1,
  .stngs p,
  .stngs input {
    color: $drk-secondary-color;
  }
  .chat__message {
    color: $dark-secondary-color;
  }
  .modal-input {
    background-color: transparent;
    color: $drk-body-text-color;
  }
  .button-48 {
    background-color: $drk-header-bg-color;
    &:before {
      background-color: $drk-btn-bg-color;
    }
  }
}
